.html, body{
    height: 100vh;
    width: 100vw;
}

button{
    background-color: black;
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    height: 2%;
    width: 10%;
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
.analysis{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    /* height: 7; */
    width: 30%;
}