<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="twitter_analytics">
        <p>You can see your twitter analysis in this page</p>
        <input type="text" placeholder="Enter your name" id="name">
        <button id="button" onclick="twitter_analytics()">Today's Meltdowns</button>
        <div class="analysis" id="analysis">The analysis will be shown here</div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>